/* App style sheet */
.App {
    --theme: #f2f3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--theme);
}

.mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 18;
    background-color: rgb(99, 99, 99);
    opacity: 0.8;
}