/* input style sheet */
.add-todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.add-todo>svg {
    width: 2vw;
    margin-left: 0.4vw;
    cursor: pointer;
}

.input {
    width: 16vw;
    height: 4vh;
    margin: 0;
    padding: 0 0 0 0.6vw;
    font-size: 1vw;
    outline: none;
}